@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/login.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/redpoint.css";
@import "components/icon-row.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2e363e;
}

.main-screen{
    padding: var(--horizontal-space);
}