.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons_icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}
.find-icons_icons i{
    font-size: 25px;
    display:block;
}
.find-icons_icons span{
    display: flex;
    margin-top: 25px;
    text-align: center;
}

.recommended-friends{
    margin: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 15px 0px;
}
.recommended-friends_title{
    font-size: 14px;
    color: var(--gray-font);
}
.recommended-friends span{
    font-size: 12px;
    color:var(--gray-font);
    margin: 100px 0px;
    display: block;
    text-align:center;
}

.open-chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    font-size: 14px;
}
.open-chat_header span{
    opacity: 0.6;
    font-size: 12px;
    margin-right: 5px;
}