.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons_icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}
.find-icons_icons i{
    font-size: 25px;
    display:block;
}
.find-icons_icons span{
    display: flex;
    margin-top: 25px;
    text-align: center;
}

.recommended-friends{
    margin: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 15px 0px;
}
.recommended-friends_title{
    font-size: 14px;
    color: var(--gray-font);
}