.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons_icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}
.find-icons_icons i{
    font-size: 25px;
    display:block;
}
.find-icons_icons span{
    display: flex;
    margin-top: 25px;
    text-align: center;
}

.recommended-friends{
    margin: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 15px 0px;
}
.recommended-friends_title{
    font-size: 14px;
    color: var(--gray-font);
}
.recommended-friends span{
    font-size: 12px;
    color:var(--gray-font);
    margin: 100px 0px;
    display: block;
    text-align:center;
}

.open-chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 20px;
}
.open-chat_header span{
    opacity: 0.6;
    font-size: 12px;
}
.open-chat_header div{
    display:flex;
    align-items: center;
}
.open-chat_header span{
    margin-right: 5px;
}

.open-post{
    display:flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    margin-bottom: 12px;
}
.open-post_title{
    font-weight: 600;
    margin-bottom: 5px;
}
.open-post_hashtags{
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 5px;
}
.open-post_members{
    display:flex;
    align-items: center;
}
.open-post_members img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid var(--gray-font);
    margin-right: 5px;
}
.open-post_member-count{
    opacity: 0.6;
    font-size: 10px;
}
.open-post_members .divider{
    width: 1px;
    height: 10px;
    background-color: var(--gray-font);
    margin: 10px;
}
.open-post_member-status{
    font-size: 12px;
    color: #fa7cc8;
}

.open-post_photo{
    position: relative;
}
.open-post_photo img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--gray-font);
}
.open-post_heart-count{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
}
.open-post_heart-count span{
    margin-left: 5px;
}
