#friends-display-link{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fafafa;
    margin: 0px 40px;
    padding: 15px 5px;
    border-radius: 36px;;
    box-sizing: border-box;
    margin-bottom: 25px;
}
#friends-display-link i{
    color: rgba(0,0,0,0.3)
}
.friends_screen{
    padding: 0px var(--horizontal-space);
}
.user-component_skills{
    display:flex;
    align-items: center;
}
.user-component_skills--btn{
    display:flex;
    align-items:center;
    padding: 3px;
    border: var(--main-border);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
}
.html-logo{
    margin-right: 2px;
    color: #E75127;
}
.css-logo{
    margin-right: 2px;
    color: #1373B8;
}
.html{
    color: #E75127;
}
.css{
    color: #1373B8;
}
.god-logo{
    margin-right: 2px;
    color: #13B38B;
}
.god{
    color:#13B38B;
}
.friends-screen_channel-header{
    margin-top:25px;
    padding: 15px 15px;
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,0.5);
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 1.5s ease-in-out forwards;
    animation-delay: 0.7s;
}