.user-component{
    justify-content: space-between;
}
.user-component_column{
    display:flex;
    align-items: center;
}

.user-component,
.user-component :first-child{
    display:flex;
    align-items: center;
}
.user-component_avatar{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 20px;
}
.user-component_title{
    font-weight: 700;
    font-size: 20px;
}
.user-component_title--not-bold{
    font-weight: 400;
    font-size:16px;
}
.user-component_subtitle{
    margin-top: 5px;
    color: rgba(0,0,0,0.4)
}
.user-component_avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component_avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.friends-screen_channel-header{
    margin-top:25px;
    padding: 15px 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
}